@media only screen and (min-width: 992px) {
  .home_content {
    --height: 100%;
    height: 100%;
  }
  .home_content .CreateListing {
    background: white;
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  .home_content .CreateListing .ListingBody {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
  }
  .home_content .CreateListing .ListingBody .text_col {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container {
    max-width: 325px;
    color: black;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .header_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .header_text .outline {
    font-size: 70px;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    font-weight: bold;
    line-height: 0.8;
    position: relative;
    z-index: 1;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .header_text .bold {
    font-size: 60px;
    color: black;
    line-height: 1;
    position: relative;
    z-index: 1;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .header_text .image_wrapper {
    box-sizing: border-box;
    padding: 30px 15px 15px;
    background: rgba(80, 80, 80, 0.6);
    box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.16);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    border-radius: 30px;
    position: relative;
    margin-top: -30px;
    margin-left: -10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .header_text .image_wrapper img {
    width: 300px;
    height: auto;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .med_text {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .sm_text {
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .outline_submit {
    min-height: 50px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 52px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    margin-inline: 0 !important;
    color: black;
    box-shadow: none;
    border: 1px solid black !important;
  }
  .home_content .CreateListing .ListingBody .text_col .text_container .outline_submit::part(native) {
    --background: transparent !important;
    --border-radius: 15px !important;
    --padding-start: 0 !important;
    --padding-end: 0 !important;
    --box-shadow: none !important;
    --border: 1px solid black !important;
    --width: 100%;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    /* background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%); */
  }
  .home_content .CreateListing .ListingBody .setup_col {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home_content .CreateListing .ListingBody .setup_col .setup_title {
    margin-bottom: 20px;
  }
  .home_content .CreateListing .ListingBody .setup_col .setup_title .header_text {
    display: flex;
    align-items: flex-end;
  }
  .home_content .CreateListing .ListingBody .setup_col .setup_title .header_text img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  .home_content .CreateListing .ListingBody .setup_col .setup_title .header_text span {
    font-size: 40px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: #000000;
  }
  .home_content .CreateListing .ListingBody .setup_col .setup_title .sub_text {
    color: black;
    font-size: 18px;
    margin: 0 0 10px !important;
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper {
    max-width: 80%;
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    display: grid;
    height: 50%;
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .outline_box {
    border: 1px solid rgb(49, 49, 49);
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .active .check {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0px;
    width: auto;
    -webkit-animation: check_animate 0.1s ease-in-out;
            animation: check_animate 0.1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes check_animate {
    0% {
      height: 0;
    }
    100% {
      height: 20px;
    }
  }
  @keyframes check_animate {
    0% {
      height: 0;
    }
    100% {
      height: 20px;
    }
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #1BD2B2;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .category_box {
    aspect-ratio: 1/1;
    background-color: white;
    color: #fff;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.1s ease-in-out;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .category_box .itematch_choice {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .category_box:hover {
    transform: scale(1.05);
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .category_box .cat_title_box {
    background: #D9D9D9;
    box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1px 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: -15px 0 0 5px;
    top: 0;
    left: 0;
    position: absolute;
  }
  .home_content .CreateListing .ListingBody .setup_col .category_wrapper .category_container .category_box .cat_title_box img {
    height: 30px;
    width: auto;
  }
  .home_content .CreateListing .ListingBody .setup_col .sub_category_wrapper {
    width: 100%;
    color: black;
  }
  .home_content .CreateListing .ListingBody .setup_col .sub_category_wrapper .subCatheader {
    font-size: 20px;
    font-weight: bold;
  }
  .home_content .CreateListing .ListingBody .setup_col .sub_category_wrapper .sub_category_select {
    --background: white !important;
    border-radius: 15px;
    color: rgb(72, 72, 72);
    margin: 4px 0;
    position: relative;
    border: 1px solid black;
    width: 250px !important;
  }
  .home_content .CreateListing .ListingBody .setup_col .sub_category_wrapper .sub_category_select .native-input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: black;
  }
  .home_content .CreateListing .ListingBody .setup_col .sub_category_wrapper .sub_category_select ion-label {
    color: grey;
  }
  .home_content .CreateListing .ListingBody .setup_col .sub_category_wrapper .sub_category_select::part(native) {
    --min-height: 50px !important;
    --max-width: 200px !important;
    --color: black;
    color: black;
  }
  .home_content .CreateListing .ListingBody .setup_col .sub_category_wrapper select {
    --background: transparent!important;
    background: transparent !important;
    border: none;
    color: grey;
    font-size: 13px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    --highlight-color-focused: rgba(0, 0, 0, 0);
    --min-height: 100%;
  }
  .home_content .CreateListing .setupTitle_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper {
    max-width: 650px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .setup_title .header_text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .setup_title .header_text img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .setup_title .header_text span {
    font-size: 40px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: #000000;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .setup_title .sub_header {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0 !important;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .setup_title .sub_text {
    color: black;
    font-size: 18px;
    margin: 0 0 10px !important;
    text-align: center;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row .form {
    --background: white !important;
    border-radius: 15px;
    border: 1px solid black;
    color: rgb(72, 72, 72);
    margin: 4px 0;
    position: relative;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row .form .native-input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    color: black;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row .form ion-label {
    color: grey;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row .form::part(native) {
    --min-height: 100% !important;
    --color: black;
    color: black;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row select {
    --background: transparent!important;
    background: transparent !important;
    border: none;
    color: grey;
    font-size: 13px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    --highlight-color-focused: rgba(0, 0, 0, 0);
    --min-height: 100%;
    border: 1px solid black;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row .textarea {
    min-height: 200px;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .row .small-text {
    font-size: 9px;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .full-width {
    grid-template-columns: 1fr !important;
  }
  .home_content .CreateListing .setupTitle_wrapper .setupTitle_inner_wrapper .foot_note {
    font-size: 10px;
    font-style: italic;
    color: rgb(83, 83, 83);
    box-sizing: border-box;
    padding: 0 10px;
  }
  .home_content .CreateListing .amenity_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .setup_title .header_text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .setup_title .header_text img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .setup_title .header_text span {
    font-size: 40px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: #000000;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .setup_title .sub_header {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0 !important;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .setup_title .sub_text {
    color: black;
    font-size: 18px;
    margin: 0 0 10px !important;
    text-align: center;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper {
    width: 100%;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row {
    width: 100%;
    margin-bottom: 40px;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .group_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    display: grid;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .active .check {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0px;
    width: auto;
    -webkit-animation: check_animate_amenity 0.1s ease-in-out;
            animation: check_animate_amenity 0.1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes check_animate_amenity {
    0% {
      height: 0;
    }
    100% {
      height: 20px;
    }
  }
  @keyframes check_animate_amenity {
    0% {
      height: 0;
    }
    100% {
      height: 20px;
    }
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #1BD2B2;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box {
    aspect-ratio: 1/1;
    background-color: white;
    color: #fff;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.1s ease-in-out;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box .icon {
    width: 40%;
    margin-bottom: 15px;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box span {
    color: black;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    height: 25%;
    text-align: center;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box:hover {
    transform: scale(1.05);
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box .cat_title_box {
    background: #D9D9D9;
    box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1px 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: -15px 0 0 5px;
    top: 0;
    left: 0;
    position: absolute;
  }
  .home_content .CreateListing .amenity_wrapper .amenity_inner_wrapper .amenity_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box .cat_title_box img {
    height: 30px;
    width: auto;
  }
  .home_content .CreateListing .upload_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .setup_title .header_text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .setup_title .header_text img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .setup_title .header_text span {
    font-size: 40px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    color: #000000;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .setup_title .sub_header {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0 !important;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .setup_title .sub_text {
    color: black;
    font-size: 18px;
    margin: 0 0 10px !important;
    text-align: center;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper {
    width: 100%;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row {
    width: 100%;
    margin-bottom: 40px;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .group_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    display: grid;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .active .check {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0px;
    width: auto;
    -webkit-animation: check_animate_amenity 0.1s ease-in-out;
            animation: check_animate_amenity 0.1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @keyframes check_animate_amenity {
    0% {
      height: 0;
    }
    100% {
      height: 20px;
    }
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #1BD2B2;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box {
    aspect-ratio: 1/1;
    background-color: white;
    color: #fff;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 0.1s ease-in-out;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box .icon {
    width: 40%;
    margin-bottom: 15px;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box span {
    color: black;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    height: 25%;
    text-align: center;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box:hover {
    transform: scale(1.05);
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box .cat_title_box {
    background: #D9D9D9;
    box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1px 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: -15px 0 0 5px;
    top: 0;
    left: 0;
    position: absolute;
  }
  .home_content .CreateListing .upload_wrapper .upload_inner_wrapper .upload_scrollable_wrapper .amenity_option_wrapper .option_row .amenity_grid .option_box .cat_title_box img {
    height: 30px;
    width: auto;
  }
}/*# sourceMappingURL=CreateListing.css.map */