@media only screen and (min-width: 992px) {
  .home_content {
    --height: 100%;
    height: 100%;
  }
  .home_content .ItemInfo {
    background: white;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
  }
  .home_content .ItemInfo .listing_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 0 0 10px;
    display: flex;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box {
    width: calc(100% - 250px);
    height: 100%;
    box-sizing: border-box;
    padding: 0px 10px 0 30px;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title img {
    width: 150px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title .subtitle {
    font-size: 14px;
    font-weight: 200;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row {
    margin-bottom: 30px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart {
    background: #DBDBDB;
    width: 100%;
    height: 120px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_title {
    height: 55%;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value {
    height: 45%;
    width: 100%;
    border-radius: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .chart_icon {
    height: 25px;
    position: absolute;
    top: -10px;
    left: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .chart_curr {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .value {
    font-size: 15px;
    font-weight: 500;
    color: black;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .value .curr {
    font-size: 10px;
    font-weight: 500;
    color: rgb(139, 139, 139);
    margin-right: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    border: 1px dashed grey;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px 0 0;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_comment {
    width: 100%;
    height: 70%;
    color: black;
    font-size: 11px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0 0;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer .manage_button {
    min-height: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 25px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(to right, #FF0606 0%, #FF0681 100%);
    --background: transparent !important;
    --padding-start: 15px !important;
    --padding-end: 15px !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer .manage_button::part(native) {
    --border-radius: 7px !important;
    --box-shadow: none !important;
    /* background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%); */
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title {
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title img {
    height: 14px;
    margin-left: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title span {
    width: 20%;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option {
    margin-left: 20px;
    border-radius: 7px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 3px;
    display: flex;
    cursor: pointer;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option:first-child {
    margin-right: 0px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option img {
    height: 17px;
    margin: 0 !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .active {
    background: #919191;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid {
    grid-template-columns: repeat(5, 1fr);
    max-width: 900px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
    box-sizing: border-box;
    padding: 10px 0 70px 10px;
    width: 100%;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: white;
    color: #fff;
    border-radius: 20px;
    transition: transform 0.1s ease-in-out;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    padding: 0 0 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box:hover {
    transform: scale(1.05);
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box a {
    text-decoration: none !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status {
    overflow: hidden;
    border-radius: 30px;
    height: 20px;
    background: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px 0px;
    transition: width 0.2s ease-in-out;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status .status_icon {
    height: 15px;
    margin-right: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status .status_text {
    color: black;
    font-size: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_image {
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 4px 12px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .title {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .subtitle {
    font-size: 11px;
    color: darkgray;
    text-transform: capitalize;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .cat_icon {
    height: 20px;
    width: auto;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: 100%;
    box-shadow: none !important;
    padding: 0 !important;
    border: none !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    border: 1px dashed grey;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper .add_icon {
    height: 17px;
    margin-bottom: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper .add_text {
    font-size: 14px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr:first-child th {
    border-bottom: 2px solid rgb(160, 160, 160) !important;
    background: white !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr:hover {
    background: rgb(240, 240, 240);
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr td {
    cursor: pointer;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr td:first-child div {
    font-weight: 500;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th {
    background: none !important;
    background-color: transparent !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:first-child {
    border-top-left-radius: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:last-child {
    border-top-right-radius: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table td:first-child,
.home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:first-child {
    width: 500px !important; /* Adjust the width value as desired */
    min-width: 500px !important;
  }
}
@media only screen and (min-width: 701px) and (max-width: 991px) {
  .home_content {
    --height: 100%;
    height: 100%;
  }
  .home_content .ItemInfo {
    background: white;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
  }
  .home_content .ItemInfo .listing_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 0 0 0px;
    display: flex;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .side_menu {
    display: none;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 0px;
    overflow: auto;
    scroll-behavior: smooth;
    max-width: 1200px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title img {
    width: 120px;
    margin-bottom: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title .subtitle {
    font-size: 14px;
    font-weight: 200;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row {
    margin-bottom: 30px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart {
    background: #DBDBDB;
    width: 100%;
    height: 120px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_title {
    height: 55%;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value {
    height: 45%;
    width: 100%;
    border-radius: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .chart_icon {
    height: 25px;
    position: absolute;
    top: -10px;
    left: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .chart_curr {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .value {
    font-size: 15px;
    font-weight: 500;
    color: black;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .value .curr {
    font-size: 10px;
    font-weight: 500;
    color: rgb(139, 139, 139);
    margin-right: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    border: 1px dashed grey;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px 0 0;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_comment {
    width: 100%;
    height: 70%;
    color: black;
    font-size: 11px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0 0;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer .manage_button {
    min-height: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 25px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(to right, #FF0606 0%, #FF0681 100%);
    --background: transparent !important;
    --padding-start: 15px !important;
    --padding-end: 15px !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer .manage_button::part(native) {
    --border-radius: 7px !important;
    --box-shadow: none !important;
    /* background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%); */
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title {
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title img {
    height: 14px;
    margin-left: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title span {
    width: 20%;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option {
    margin-left: 20px;
    border-radius: 7px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 3px;
    display: flex;
    cursor: pointer;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option:first-child {
    margin-right: 0px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option img {
    height: 17px;
    margin: 0 !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .active {
    background: #919191;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
    box-sizing: border-box;
    padding: 10px 0 70px 10px;
    width: 100%;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: white;
    color: #fff;
    border-radius: 20px;
    transition: transform 0.1s ease-in-out;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    padding: 0 0 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box:hover {
    transform: scale(1.05);
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box a {
    text-decoration: none !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status {
    overflow: hidden;
    border-radius: 30px;
    height: 20px;
    background: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px 0px;
    transition: width 0.2s ease-in-out;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status .status_icon {
    height: 15px;
    margin-right: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status .status_text {
    color: black;
    font-size: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_image {
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 4px 12px;
  }
  @supports not (aspect-ratio: 1/1) {
    .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_image {
      height: 12.9vh !important;
    }
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .title {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .subtitle {
    font-size: 11px;
    color: darkgray;
    text-transform: capitalize;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .cat_icon {
    height: 20px;
    width: auto;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: 100%;
    box-shadow: none !important;
    padding: 0 !important;
    border: none !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    border: 1px dashed grey;
  }
  @supports not (aspect-ratio: 1/1) {
    .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper {
      height: 12.9vh !important;
    }
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper .add_icon {
    height: 17px;
    margin-bottom: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper .add_text {
    font-size: 14px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr:first-child th {
    border-bottom: 2px solid rgb(160, 160, 160) !important;
    background: white !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr:hover {
    background: rgb(240, 240, 240);
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr td {
    cursor: pointer;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr td:first-child div {
    font-weight: 500;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th {
    background: none !important;
    background-color: transparent !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:first-child {
    border-top-left-radius: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:last-child {
    border-top-right-radius: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table td:first-child,
.home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:first-child {
    width: 500px !important; /* Adjust the width value as desired */
    min-width: 500px !important;
  }
}
@media only screen and (max-width: 700px) {
  .home_content {
    --height: 100%;
    height: 100%;
  }
  .home_content .ItemInfo {
    background: white;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
  }
  .home_content .ItemInfo .listing_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px 10px;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 0 0 0px;
    display: flex;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .side_menu {
    display: none;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px 0 0px;
    overflow: auto;
    scroll-behavior: smooth;
    max-width: 1200px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title {
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title img {
    width: 100px;
    margin-bottom: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .listing_title .subtitle {
    font-size: 14px;
    font-weight: 200;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row {
    margin-bottom: 30px;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts {
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart {
    background: #DBDBDB;
    width: 130px;
    height: 120px;
    min-width: 130px;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_title {
    height: 55%;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value {
    height: 45%;
    width: 100%;
    border-radius: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .chart_icon {
    height: 25px;
    position: absolute;
    top: -10px;
    left: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .chart_curr {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .value {
    font-size: 15px;
    font-weight: 500;
    color: black;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .top_charts .chart .chart_value .value .curr {
    font-size: 10px;
    font-weight: 500;
    color: rgb(139, 139, 139);
    margin-right: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    box-sizing: border-box;
    padding: 10px 0 0 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    border: 1px dashed grey;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px 0 0;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_comment {
    width: 100%;
    height: 70%;
    color: black;
    font-size: 11px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0 0;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer .manage_button {
    min-height: 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 25px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    background: linear-gradient(to right, #FF0606 0%, #FF0681 100%);
    --background: transparent !important;
    --padding-start: 15px !important;
    --padding-end: 15px !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .mc_wrapper .mc_box .mc_box_footer .manage_button::part(native) {
    --border-radius: 7px !important;
    --box-shadow: none !important;
    /* background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%); */
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title {
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title img {
    height: 14px;
    margin-left: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title span {
    width: 40%;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option {
    margin-left: 20px;
    border-radius: 7px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 100%;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 3px;
    display: flex;
    cursor: pointer;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option:first-child {
    margin-right: 0px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .option img {
    height: 17px;
    margin: 0 !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .header_title .listing_stack_option_wrapper .listing_stack_option .active {
    background: #919191;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    display: grid;
    box-sizing: border-box;
    padding: 10px 0 70px 10px;
    width: 100%;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background-color: white;
    color: #fff;
    border-radius: 20px;
    transition: transform 0.1s ease-in-out;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
    padding: 0 0 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box:hover {
    transform: scale(1.05);
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box a {
    text-decoration: none !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status {
    overflow: hidden;
    border-radius: 30px;
    height: 20px;
    background: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px 0px;
    transition: width 0.2s ease-in-out;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status .status_icon {
    height: 15px;
    margin-right: 5px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .status .status_text {
    color: black;
    font-size: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_image {
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 4px 12px;
  }
  @supports not (aspect-ratio: 1/1) {
    .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_image {
      height: 17.9vh !important;
    }
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .title {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .subtitle {
    font-size: 11px;
    color: darkgray;
    text-transform: capitalize;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .listing_box .listing_item_title .cat_icon {
    height: 20px;
    width: auto;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: 100%;
    box-shadow: none !important;
    padding: 0 !important;
    border: none !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px;
    border: 1px dashed grey;
  }
  @supports not (aspect-ratio: 1/1) {
    .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper {
      height: 17.9vh !important;
    }
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper .add_icon {
    height: 17px;
    margin-bottom: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_grid .add .add_wrapper .add_text {
    font-size: 14px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr:first-child th {
    border-bottom: 2px solid rgb(160, 160, 160) !important;
    background: white !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr:hover {
    background: rgb(240, 240, 240);
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr td {
    cursor: pointer;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table tr td:first-child div {
    font-weight: 500;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th {
    background: none !important;
    background-color: transparent !important;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:first-child {
    border-top-left-radius: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:last-child {
    border-top-right-radius: 10px;
  }
  .home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table td:first-child,
.home_content .ItemInfo .listing_wrapper .inner_wrapper .window_box .row .listing_table table th:first-child {
    width: 500px !important; /* Adjust the width value as desired */
    min-width: 500px !important;
  }
}/*# sourceMappingURL=ItemInfo.css.map */