.loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.loading_container .refresh_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading_container .refresh_container .refresh_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.loading_container .refresh_container .refresh_box .broken_image {
  height: 150px;
  margin-bottom: 20px;
}
.loading_container .refresh_container .refresh_box .text {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  box-sizing: border-box;
  padding: 0 5px;
}
.loading_container .refresh_container .refresh_box .outline_submit {
  min-height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 6px;
  margin-inline: 0 !important;
  color: black;
  box-shadow: none;
  border: 1px solid black !important;
}
.loading_container .refresh_container .refresh_box .outline_submit::part(native) {
  --background: transparent !important;
  --border-radius: 15px !important;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --box-shadow: none !important;
  --border: 1px solid black !important;
  --width: 100%;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
  /* background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%); */
}
@-webkit-keyframes ldio-kakwhv0uegi {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ldio-kakwhv0uegi {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading_container .ldio-kakwhv0uegi > div > div {
  position: absolute;
  border-radius: 50%;
}
.loading_container .ldio-kakwhv0uegi > div > div:nth-child(1) {
  top: 15px;
  left: 15px;
  width: 70px;
  height: 70px;
  background: #e90c59;
}
.loading_container .ldio-kakwhv0uegi > div > div:nth-child(2) {
  top: 19.9px;
  left: 39.5px;
  width: 21px;
  height: 21px;
  background: #46dff0;
  -webkit-animation: ldio-kakwhv0uegi 1s linear infinite;
          animation: ldio-kakwhv0uegi 1s linear infinite;
  transform-origin: 10.5px 30.1px;
}
.loading_container .loadingio-spinner-disk-se8bv8k1lxl {
  width: 51px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.loading_container .ldio-kakwhv0uegi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.loading_container .ldio-kakwhv0uegi div {
  box-sizing: content-box;
}

.upload_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.upload_container .gif_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upload_container .gif_wrapper .upload_text {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
@-webkit-keyframes ldio-jne4uv3mhv8-r {
  0%, 25%, 50%, 75%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  0% {
    transform: scale(0.7) rotate(180deg);
  }
  25% {
    transform: scale(0.7) rotate(270deg);
  }
  50% {
    transform: scale(0.7) rotate(360deg);
  }
  75% {
    transform: scale(0.7) rotate(450deg);
  }
  100% {
    transform: scale(0.7) rotate(540deg);
  }
}
@keyframes ldio-jne4uv3mhv8-r {
  0%, 25%, 50%, 75%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  0% {
    transform: scale(0.7) rotate(180deg);
  }
  25% {
    transform: scale(0.7) rotate(270deg);
  }
  50% {
    transform: scale(0.7) rotate(360deg);
  }
  75% {
    transform: scale(0.7) rotate(450deg);
  }
  100% {
    transform: scale(0.7) rotate(540deg);
  }
}
@-webkit-keyframes ldio-jne4uv3mhv8-z {
  0%, 50%, 100% {
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes ldio-jne4uv3mhv8-z {
  0%, 50%, 100% {
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@-webkit-keyframes ldio-jne4uv3mhv8-p {
  0%, 50%, 100% {
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ldio-jne4uv3mhv8-p {
  0%, 50%, 100% {
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes ldio-jne4uv3mhv8-c {
  0%, 25%, 50%, 75%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  0% {
    background: #e15b64;
  }
  25% {
    background: #ff2762;
  }
  50% {
    background: #ff0046;
  }
  75% {
    background: #3bb7a8;
  }
  100% {
    background: #e15b64;
  }
}
@keyframes ldio-jne4uv3mhv8-c {
  0%, 25%, 50%, 75%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1);
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
  }
  0% {
    background: #e15b64;
  }
  25% {
    background: #ff2762;
  }
  50% {
    background: #ff0046;
  }
  75% {
    background: #3bb7a8;
  }
  100% {
    background: #e15b64;
  }
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 > div {
  -webkit-animation: ldio-jne4uv3mhv8-r 4s linear infinite;
          animation: ldio-jne4uv3mhv8-r 4s linear infinite;
  transform-origin: 95.5px 95.5px;
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 > div > div {
  width: 191px;
  height: 191px;
  position: absolute;
  -webkit-animation: ldio-jne4uv3mhv8-z 1s linear infinite;
          animation: ldio-jne4uv3mhv8-z 1s linear infinite;
  transform-origin: 191px 191px;
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 > div > div div {
  position: absolute;
  width: 95.5px;
  height: 95.5px;
  background: #e15b64;
  transform-origin: 47.75px 47.75px;
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 > div > div div:nth-child(1) {
  left: 0px;
  top: 0px;
  -webkit-animation: ldio-jne4uv3mhv8-p 1s linear infinite, ldio-jne4uv3mhv8-c 4s linear infinite;
          animation: ldio-jne4uv3mhv8-p 1s linear infinite, ldio-jne4uv3mhv8-c 4s linear infinite;
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 > div > div div:nth-child(2) {
  left: 95.5px;
  top: 0px;
  -webkit-animation: ldio-jne4uv3mhv8-p 1s linear infinite, ldio-jne4uv3mhv8-c 4s linear infinite;
          animation: ldio-jne4uv3mhv8-p 1s linear infinite, ldio-jne4uv3mhv8-c 4s linear infinite;
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 > div > div div:nth-child(3) {
  left: 0px;
  top: 95.5px;
  -webkit-animation: ldio-jne4uv3mhv8-p 1s linear infinite, ldio-jne4uv3mhv8-c 4s linear infinite;
          animation: ldio-jne4uv3mhv8-p 1s linear infinite, ldio-jne4uv3mhv8-c 4s linear infinite;
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 > div > div div:nth-child(4) {
  left: 95.5px;
  top: 95.5px;
  transform: scale(1);
  -webkit-animation: ldio-jne4uv3mhv8-c 4s linear infinite;
          animation: ldio-jne4uv3mhv8-c 4s linear infinite;
}
.upload_container .gif_wrapper .loadingio-spinner-chunk-22fqygvdk3m {
  width: 191px;
  height: 191px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.upload_container .gif_wrapper .ldio-jne4uv3mhv8 div {
  box-sizing: content-box;
}/*# sourceMappingURL=LoaderPage.css.map */